
@model PaymentRecordDetailViewModel

@{
	ViewBag.Title = "Payslip";
}

<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col">
				<h3 class="page-title">Payment Record</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
					<li class="breadcrumb-item active">Payslip</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Page Header -->

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<h4 class="payslip-title">Payslip for the month of @Model.MonthPay - @Model.TaxYear.YearOfTax </h4>
					<div class="row">
						<div class="col-sm-6 m-b-20">
							<img src="@Url.Content(Model.Employee.ImageUrl)" class="inv-logo" alt="">
							@*<ul class="list-unstyled mb-0">
							<li>Dreamguy's Technologies</li>
							<li>3864 Quiet Valley Lane,</li>
							<li>Sherman Oaks, CA, 91403</li>
							</ul>*@
						</div>
						<div class="col-sm-6 m-b-20">
							<div class="invoice-details">
								<h3 class="text-uppercase">Payslip #@Model.Id</h3>
								<ul class="list-unstyled">
									<li>Pay Date: <span>@Model.DatePay</span></li>
									<li>Tax Year: <span>@Model.TaxYear.YearOfTax</span></li>
									<li>Tax Code: <span>@Model.TaxCode</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 m-b-20">
							<ul class="list-unstyled">
								<li><h5 class="mb-0"><strong>@Model.Employee.FullName</strong></h5></li>
								<li><span>@Model.Employee.Designation</span></li>
								<li>Employee ID: @Model.Employee.EmployeeNo</li>
								<li>National Insurance No: @Model.Employee.NationalInsuranceNo</li>
								<li>Joining Date: @Model.Employee.DateJoined</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div>
								<h4 class="m-b-10"><strong>Earnings</strong></h4>
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td><strong>Basic Salary</strong> <span class="float-right">$@Model.HourslyRate</span></td>
										</tr>
										<tr>
											<td><strong>Hourly Worked</strong> <span class="float-right">@Model.HourlyWorked</span></td>
										</tr>
										<tr>
											<td><strong>Overtime Salary</strong> <span class="float-right">$@Model.OvertimeRate</span></td>
										</tr>
										<tr>
											<td><strong>Hourly Overtime</strong> <span class="float-right">@Model.OvertimeHours</span></td>
										</tr>
										<tr>
											<td><strong>Total Earnings</strong> <span class="float-right"><strong>$@Model.TotalEarnings</strong></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-6">
							<div>
								<h4 class="m-b-10"><strong>Deductions</strong></h4>
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td><strong>Tax Deducted at Source (T.D.S.)</strong> <span class="float-right">$@Model.Tax</span></td>
										</tr>
										<tr>
											<td><strong>NiC</strong> <span class="float-right">$@Model.Nic</span></td>
										</tr>
										<tr>
											<td><strong>Union</strong> <span class="float-right">$@Model.UnionFee</span></td>
										</tr>
										<tr>
											<td><strong>SLC</strong> <span class="float-right">$@Model.SLC</span></td>
										</tr>
										<tr>
											<td><strong>Total Deductions</strong> <span class="float-right"><strong>$@Model.TotalDeduction</strong></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-12">
							<p><strong>Net Salary: $@Model.NetPayment</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>